// ELEMENT UI
/* Color del tema */
$--color-primary: #00bcd4;
$--color-secondary: #1b3059;
$--color-danger: rgb(255, 53, 71);
$--color-success: #f06292;
$bg-login: $--color-secondary;

/* Ubicación de la fuente, obligatoria */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
