.login .el-card__header {
  padding: 0px;
}
.login.container-fluid,
.login.container-fluid .row {
  height: 100vh;
}

.login {
  background-color: $bg-login;
  .el-card {
    border: none;
  }
  .card-image {
    text-align: center;
    background-color: #00bcd4;
    padding: 1.5em 0;
  }
  .card-image img {
    width: 100px;
  }
}
