<template>
  <el-menu
    background-color="#1b3059"
    text-color="#fff"
    active-text-color="#00bcd4"
    style="height:100%"
  >
    <el-menu-item index="1">
      <i class="fas fa-tachometer-alt"></i>Inicio
    </el-menu-item>
    <el-menu-item index="2">
      <i class="fas fa-building"></i>Nosotros
    </el-menu-item>
    <el-submenu index="3">
      <template slot="title">
        <i class="fas fa-sitemap"></i>Áreas
      </template>
      <el-menu-item-group>
        <template slot="title">Group 5</template>
        <el-menu-item index="5-5">Option 5</el-menu-item>
        <el-menu-item index="5-2">Option 2</el-menu-item>
      </el-menu-item-group>
      <el-menu-item-group title="Group 2">
        <el-menu-item index="5-3">Option 3</el-menu-item>
      </el-menu-item-group>
      <el-submenu index="5-4">
        <template slot="title">Option4</template>
        <el-menu-item index="5-4-1">Option 4-1</el-menu-item>
      </el-submenu>
    </el-submenu>
    <el-menu-item index="4">
      <i class="fas fa-laptop"></i>Sistemas
    </el-menu-item>
    <el-menu-item index="5">
      <i class="fas fa-address-book"></i>Asistencia
    </el-menu-item>
  </el-menu>
</template>

<style lang="sass" scoped>
i
  margin-right: .8em
  margin-top: -3px
</style>