<template>
  <div class="page">
    <div class="login container-fluid">
      <div class="row center-xs middle-xs">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <nuxt />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>