<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 mb-2">
          <el-carousel :interval="5000" arrow="always">
            <el-carousel-item v-for="item in 4" :key="item">
              <img src="https://scontent.faqp3-1.fna.fbcdn.net/v/t1.0-9/76717460_1328336757371599_4052036055883317248_o.png?_nc_cat=106&_nc_ohc=XePp13UgHMsAQl-rYIDswAJpNd1MQqbgelb8OwkiKwtPCcIXQaPduPaCg&_nc_ht=scontent.faqp3-1.fna&oh=1c7a8ab912320384d9321ae3aff7575a&oe=5EB2236B" width="100%" height="auto">
            </el-carousel-item>
          </el-carousel>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3 mb-2">
          <el-card :body-style="{ 'text-align': 'center' }">
            <clock color="#1b3059" bg="#fafafa"></clock>
          </el-card>
        </div>
        <div class="col-xs-12 col-md-5 mb-2">
          <el-card></el-card>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.el-container {
  background-color: #fafafa;
  height: 100% !important;
}
</style>

<script>
import Clock from "vue-clock2";
export default {
  components: { Clock }
};
</script>

<style>
.mb-2 {
  margin-bottom: 1em;
}
.clock {
  border: 4px solid;
}
.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
</style>