<template>
  <section>
    <el-card class="card-login">
      <div slot="header" class="card-image">
        <img src="~assets/veox_white.svg" alt="logo" />
      </div>
      <div>
        <el-form ref="form" :model="form" size="small">
          <el-form-item>
            <el-input placeholder="Número de documento" v-model="form.documentNumber" clearable></el-input>
          </el-form-item>
          <el-button type="primary" plain :class="'block'">Ingresar</el-button>
        </el-form>
      </div>
    </el-card>
  </section>
</template>

<script>
export default {
  layout: "login",
  data() {
    return {
      form: {
        input: ""
      }
    };
  }
};
</script>
